@charset "UTF-8";

section#telefone {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-color: blue;
    background: url('../imagens/frame-iphone.png') no-repeat center center;
    
}